.text-decorator-none{
    text-decoration: none;
}
.botaoUPTADE {
    color: #fff;
    background-color: #00a650 !important;
}
.botaoDELETE {
    color: #fff;
    background-color: #e73a5e !important;
}
.background{
    background-color: #c6f0e1;
 }