.cursor{
    cursor: pointer;
    color: white;
}
.text-decorator-none{
    text-decoration: none;
}
.navbar:hover {
    color: #090e01;
}
.navbar{
    padding: 0 50px;
    font-size: large;
    font-weight: 1000;
    color: #d2d8cb;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 3px;

}
.MuiAppBar-colorPrimary {
    background-color: rgba(0, 119, 255, 0.473) !important;
}
.teste{
    justify-content: center;
}
